body {
    background-image: url('SIA_back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: rgb(14, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: rgb(81, 177, 246);
  }
  
  
  
  .main {
    padding: 0;
    margin: 0;
      height: 100%;
      width: 100%;
      background-size: contain;
  }
  
  h1{
  
      text-align: center;
  
      color: rgb(0, 0, 1);
      font-size: 50px;
      font-family: creepster;
  }
  
  .button-container {
  display: flex;
  justify-content: center;
  }
  
  .btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .btn-primary {
  background-color: #007bff;
  color: white;
  }

  li:hover::after{
    width:100%;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #0a0a0a;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-name {
    font-weight: bold;
  }
